<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.otaku.mapper.BackpackMapper">


    <insert id="insertPoint">
        INSERT INTO user_backpack (user_id, item_id, quantity, status, idempotent)
        VALUES (
                   #{u.userId},
                   #{u.itemId},
                   #{u.quantity},
                   #{u.status},
                   #{u.idempotent}
               )
    </insert>

    <delete id="deleteBatchByItemIds">
        delete from user_backpack where item_id
        <foreach collection="itemIds" open="(" close=")" separator="," item="itemId">
            #{productId}
        </foreach>
    </delete>
</mapper>
