<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.otaku.mapper.CheckinMapper">

    <select id="getCheckinDates" resultType="java.time.LocalDate">
        SELECT checkin_date
        FROM checkin
        WHERE user_id = #{userId}
        ORDER BY checkin_date ASC;
    </select>
</mapper>
