<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.otaku.mapper.PackageMapper">

    <insert id="insert" parameterType="Package" useGeneratedKeys="true" keyProperty="id">
        insert into package
        (category_id, name, price, status, description, image, create_time, update_time, create_user, update_user)
        VALUES
        (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.otaku.vo.PackageVO">
        select
            p.*, c.name categoryNmae
        from
            package p
        left join
            category c
        on
            p.category_id = c.id
        <where>
            <if test="name != null">
                and p.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and p.status = #{status}
            </if>
            <if test="categoryId != null">
                and p.category_id = #{categoryId}
            </if>
        </where>
        order by p.create_time desc
    </select>

    <update id="update" parameterType="com.otaku.entity.Package">
        update package
        <set>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="list" parameterType="Package" resultType="Package">
        select * from package
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from package
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
</mapper>
