<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.otaku.mapper.UserBackpackMapper">


    <update id="updatePoint">
        UPDATE user_backpack
        SET quantity = user_backpack.quantity + #{userPointRewardDTO.point}
        WHERE user_id = #{userPointRewardDTO.userId} and item_id = #{userPointRewardDTO.type}
    </update>
</mapper>
